@charset "UTF-8";
html {
  font-size: 100px; }

body {
  font-size: 14px; }

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px; } }

@media screen and (min-width: 424px) {
  html {
    font-size: 56.53333px; } }

* {
  padding: 0;
  margin: 0;
  border: 0;
  position: relative;
  font-size: 22px;
  font-family: "宋体";
  box-sizing: border-box; }

ul, li {
  list-style: none; }

body {
  background: url(bg.png) no-repeat;
  background-size: cover; }

.icon {
  font-family: "iconfont" !important; }

audio {
  display: none; }

.heard {
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  color: #fff;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: center; }
  .heard .caidan {
    float: left;
    color: #fff;
    display: block;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    line-height: 0.8rem;
    text-align: center;
    margin-top: 0.6rem; }
  .heard .sousuo {
    float: right;
    color: #fff;
    display: block;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    line-height: 0.8rem;
    text-align: center;
    margin-top: 0.6rem; }

@keyframes zhuan {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.cen {
  width: 100%;
  height: 5rem;
  padding: 1rem 2rem;
  margin-bottom: 1.8rem; }
  .cen .kuang {
    padding: 0.2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: rgba(128, 109, 113, 0.5); }
    .cen .kuang .zhe {
      padding: 0.8rem;
      width: 3.6rem;
      height: 3.6rem;
      border-radius: 50%;
      background: rgba(191, 145, 130, 0.4); }
    .cen .kuang .tu {
      padding: 0.1rem;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      overflow: hidden;
      background: url(zhuan.png);
      background-size: cover;
      background-position: 9px -5px;
      animation: zhuan 10s infinite linear; }
  .cen .yinliang {
    opacity: 0.7;
    width: 4.2rem;
    position: absolute;
    top: 5.5rem;
    left: 1.7rem;
    border-top: 0.05rem solid #fff;
    border-bottom: 0.05rem solid #fff;
    border-radius: 0.1rem; }
    .cen .yinliang .cri-yin {
      width: 0.2rem;
      height: 0.2rem;
      border-radius: 50%;
      background: #fff;
      position: absolute;
      top: -0.1rem;
      right: -0.1rem; }
  .cen .y-max {
    color: #fff;
    font-size: 16px;
    position: absolute;
    top: 5.4rem;
    right: 1.2rem; }
  .cen .y-min {
    color: #fff;
    font-size: 16px;
    position: absolute;
    top: 5.4rem;
    left: 1.2rem; }

.ci {
  width: 100%;
  height: 1.6rem; }

.gongneng {
  width: 100%;
  height: 1rem;
  padding-left: 1rem;
  padding-right: 1rem; }
  .gongneng li {
    padding-left: 0.4rem;
    width: 25%;
    height: 100%;
    float: left; }
    .gongneng li span {
      color: #fff;
      display: block;
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 50%;
      overflow: hidden;
      background: rgba(255, 255, 255, 0.2);
      line-height: 0.8rem;
      text-align: center;
      background: rgba(225, 225, 255, 0.01); }

.kongzhi {
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem; }
  .kongzhi span {
    color: #fff;
    font-size: 16px;
    float: left;
    margin-right: 0.1rem; }
  .kongzhi .jindu {
    opacity: 0.6;
    width: 66%;
    height: 0rem;
    border-top: 0.05rem solid #fff;
    border-bottom: 0.05rem solid #fff;
    border-radius: 0.1rem;
    float: left;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    margin-top: 0.45rem; }
    .kongzhi .jindu .cri {
      width: 0.2rem;
      height: 0.2rem;
      border-radius: 50%;
      background: #fff;
      position: absolute;
      top: -0.1rem;
      left: -0.1rem; }

.list {
  width: 50%;
  height: 1rem;
  margin: 0 auto; }
  .list .last {
    float: left;
    color: #fff;
    display: block;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    line-height: 0.8rem;
    text-align: center;
    margin-top: 0.1rem; }
  .list .next {
    float: right;
    color: #fff;
    display: block;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.2);
    line-height: 0.8rem;
    text-align: center;
    margin-top: 0.1rem; }
  .list ul {
    width: 1.2rem;
    height: 1rem;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -0.6rem;
    color: #fff;
    font-size: 1rem; }
    .list ul li .play {
      color: #fff;
      font-size: 1rem;
      position: absolute;
      top: -0.1rem;
      left: 0.1rem; }

#bflb {
  color: #fff;
  font-size: 0.6rem;
  position: fixed;
  right: 0.4rem;
  bottom: 0.4rem; }

.bflb {
  width: 100%;
  height: 8rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(5, 5, 5, 0.8);
  z-index: 5555;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transition: all 0.5s;
  transform: scale(0);
  opacity: 0; }
  .bflb .shou {
    width: 100%;
    height: 1rem;
    color: #fff;
    font-size: 20px; }
    .bflb .shou span {
      display: block;
      width: 15%;
      height: 1rem;
      line-height: 1rem;
      float: left;
      text-align: right; }
    .bflb .shou span:nth-of-type(1) {
      width: 55%;
      text-align: left; }
  .bflb .ul li {
    width: 100%;
    height: 1rem;
    font-size: 20px;
    color: #fff;
    line-height: 1rem;
    border-top: 1px solid #75636F; }
    .bflb .ul li span {
      position: absolute;
      top: 0;
      right: 0; }
  .bflb .ul li:last-child {
    border-bottom: 1px solid #75636F; }
  .bflb .ul .active {
    color: greenyellow; }

.xian {
  transform: scale(1);
  opacity: 0.9; }
